body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
    min-height: 300vh;
}

.tableau{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
    "grida gridb gridc"
    "gridd gride gridf";
    margin: 0px 0px 0px 290px;
}
.container{
    margin: 0px 0px 0px 0px;
}
.grid1{
    grid-area: "grida";
    margin-top: 60px;
}
.grid2{
    grid-area: "gridb";
    margin-top: 60px;
}
.grid3{
    grid-area: "gridc";
    margin-top: 60px;

}
.grid4{
    grid-area: "gridd";
    margin-top: 60px;
}
.grid5{
    grid-area: "gride";
    margin-top: 60px;

}
.grid6{
    grid-area: "gridf";
    margin-top: 60px;
}
.competences{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;  
    margin: 22px 0px 50px 360px;
}
.travaux{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;  
    margin: 200px 0px 30px 120px;
}
.parent_travaux{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.parcours{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: start;
}
.scroll2{
    
    left: 98vh;
    top: 87vh;

    position: absolute;
}

.section{
    min-height: 100vh;
    max-height: 100vh;
}
.a{
    background-color: white;
}
.b{
    background-color: rgb(202, 230, 225);
    position: relative;
}
.c{
    background-color: white;
}
.d{
    background-color: rgb(202, 230, 225);
}

.header{
    height: 10%;
    background-color: rgb(202, 230, 225);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.titre_portfolio{
    margin-left: 40px;
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}
.logo_contact{
    width: 40px;
    margin: 20px;
}
.parent_logo{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px; 
    
}
.parent_presentation{
    height: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.moi{
    width: 30%;
}
.presente{
    width: 50%;
    position: relative;
    margin-right: 120px; 
    z-index: 1;
    

}
.carredecoratif{
    height: 238px;
    width: 50%;
    background-color: rgb(202, 230, 225);
    position: absolute;
    z-index: -1;
    left: -20px;
    top: -20px;
}
.texte_present{
    margin: 0;
    padding: 20px 40px;
    font-size: 12px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.parent_scrol{
    height:  0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll{
    width: 100px;
}

.titre_contact{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;  
}
.contact{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Cible{
    position: fixed;
    top:0;
    left:0;
    width:50px;
    height:50px;
    border:0px solid grey;
    border-radius:100%;
    margin:-25px;
    transform: translate(0px, 0);
    pointer-events: none;
    z-index: 2;
    
}
*{
    box-sizing: border-box;
}
.anim_Cible{
    animation: cible 1s ease;
    animation-fill-mode: forwards;
}
@keyframes cible{
    0%{
        border-width:10px;
        opacity:1;
    }
    100%{
        border-width:0;
        opacity:0;
    }
}
.transition{
    transition: 0.4s;
}